<template>
<!--    <div>-->
        <UserWallet/>
<!--    </div>-->

</template>

<script>
import UserWallet from "../pages/UserWallet/UserWallet";

export default {
    name: 'App',
    components: {UserWallet},
    data() {
        return {
            currentTab: 'wallet'
        }
    },
};
</script>

<style scoped>
</style>
