<template>
    <div class="page-table scrollable">
        <h1>Transactions</h1>
        <button
            @click="handleCreate()"
            class="btn btn-primary">
            Add Transaction
        </button>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Amount</th>
                <th scope="col">Type</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="transaction in transactions" v-bind:class="tableRowClassName">
                <td>
                    {{ transaction.id }}
                </td>
                <td>
                    {{ transaction.amount }}
                </td>
                <td>
                    {{ transaction.transaction_type }}
                </td>

                <td>
                    <button
                        class="btn .btn-sm btn-primary"
                        @click="handleEdit(transaction)">Edit
                    </button>
                    <button
                        class="btn .btn-sm btn-danger"
                        @click="handleDelete(transaction)">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</template>

<script>
import {api} from "../../api";

export default {
    name: 'TransactionsPage',
    data() {
        return {
            transactions: [],
            transaction: {},
            transactionFormVisible: false,
            action: 'create',
            transactionTypes: [
                {id: 'credit', name: 'Credit'},
                {id: 'debit', name: 'Debit'},
            ]
        }
    },
    watch: {
    },
    methods: {
        getTransactions() {
            api.get('walletTransaction').then(response => {
                this.transactions = response.data.data
            })
        },
        handleCreate() {
            this.action = 'Create'
            this.transaction = {}
            // this.transaction.user_wallet_id = this.userWallet.id
            this.transactionFormVisible = true;
        },
        handleEdit(transaction) {
            this.action = 'Edit'
            this.transaction = _.clone(transaction)
            this.transactionFormVisible = true;
        },
        handleDelete(transaction) {
            api.delete('walletTransaction/' + transaction.id).then(response => {
                this.getTransactions()
                this.transactionFormVisible = false
            })
        },
        saveTransaction() {
            api.post('walletTransaction', this.walletTransaction).then(response => {
                if (response.data.status === 'success') {
                    this.transactionFormVisible = false
                    this.getTransactions()
                }
            })
        }
    },
    mounted() {
        //ie fix
        this.getTransactions()
    }
};
</script>


<style scoped>

body .v-modal {
    z-index: 1000 !important;
}
</style>
