<template>
    <div class="py-12">

        <!--          <x-slot name="header">-->
        <!--              <h2 class="font-semibold text-xl text-gray-800 leading-tight">-->
        <!--                Hello there-->
        <!--            </h2>-->
        <!--        </x-slot>-->

        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                <div class="p-6 bg-white border-b border-gray-200">
                    <div class="page-table scrollable">
                        <br>

                        <div v-if="!userWallets.length">
                            <h3>You need to add Wallet First!</h3>
                        </div>
                        <button
                            @click="handleCreate()"
                            class="btn btn-primary">
                            Add Wallet
                        </button>
                        <table class="table" v-if="userWallets.length">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Balance</th>
                                <th scope="col">Wallet Type</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="wallet in userWallets">
                                <td>
                                    {{ wallet.id }}
                                </td>
                                <td>
                                    {{ wallet.name }}
                                </td>
                                <td>
                                    $ {{ wallet.balance }}
                                </td>
                                <td>
                                    {{ wallet.wallet_type.name }}
                                </td>
                                <td>
                                    <button
                                        class="btn .btn-sm btn-primary"
                                        @click="handleEdit(wallet)">Edit
                                    </button>
                                    <button
                                        class="btn .btn-sm btn-info"
                                        @click="handleTransactions(wallet)">Manage Transactions
                                    </button>
                                    <button
                                        class="btn .btn-sm btn-danger"
                                        @click="handleDelete(wallet)">Delete
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="5">
                                    Total Blanace: $ {{ totalBalance }}
                                </td>
                            </tr>

                            </tbody>
                        </table>

                        <el-dialog :title="action"
                                   style="width:100%"
                                   :visible.sync="dialogVisible">
                            <el-form :model="userWallet">
                                <el-form-item label="Name" :label-width="'120px'">
                                    <el-input placeholder="name..." v-model="userWallet.name"
                                              auto-complete="off"></el-input>
                                </el-form-item>

                                <el-form-item label="Wallet Type" :label-width="'120px'">
                                    <el-select placeholder="select item" v-model="userWallet.wallet_type_id" clearable>
                                        <el-option v-for="item in walletTypes" :key="item.id" :label="item.name"
                                                   :value="item.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-form>
                            <span slot="footer" class="dialog-footer">
                                <el-button @click="dialogVisible = false">Close</el-button>
                                <el-button type="primary" @click="save">Confirm</el-button>
                            </span>
                        </el-dialog>

                        <el-dialog :fullscreen="true" style="width:100%"
                                   :visible.sync="dialogTransactionVisible" @close="getUserWallets">

                            <WalletTransaction :userWallet="userWallet"/>

                        </el-dialog>

                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import {api} from '../../api'
import WalletTransaction from './WalletTransaction'

export default {
    name: 'UserWallet',
    components: {
        WalletTransaction
    },
    data() {
        return {
            userWallets: [],
            walletTypes: [],
            userWallet: {},
            dialogVisible: false,
            dialogTransactionVisible: false,
            action: 'create',
            pagination: {
                currentPage: 1,
                total: null,
                pageSize: 20,
                pageSizes: [10, 20, 50, 100],
            }
        }
    },
    computed: {
        totalBalance() {
            let balance = 0.0;
            this.userWallets.map(item => {
                balance = balance + item.balance;
            });
            return   Number.parseFloat(balance).toFixed(2);
        }
    },
    methods: {
        getUserWallets() {
            api.get('wallet').then(response => {
                this.userWallets = response.data.data
                // this.loadingArticles = false
            })
        },
        getWalletTypes() {
            api.get('walletType').then(response => {
                this.walletTypes = response.data.data
            })
        },

        handleTransactions(userWallet) {
            this.userWallet = {};
            this.userWallet = _.clone(userWallet);
            this.dialogTransactionVisible = true;
        },
        handleCreate() {
            this.action = 'Create'
            this.userWallet = {}
            this.dialogVisible = true;
        },
        handleEdit(userWallet) {
            this.action = 'Edit'
            this.userWallet = _.clone(userWallet)
            this.dialogVisible = true;
        },
        handleDelete(row) {
            api.delete('wallet/' + row.id).then(response => {
                this.getUserWallets()
                this.dialogVisible = false
            }).catch(error => {
                this.$toast(error.response.data.message, {
                    type: 'error'
                });
            })
        },
        save() {
            api.post('wallet', this.userWallet).then(response => {
                if (response.data.status === 'success') {
                    this.dialogVisible = false
                    this.$toast(response.data.message, {
                        type: 'success'
                    });
                    this.getUserWallets()
                } else {
                    // success, error, default, info and warning
                    this.$toast(response.data.message, {
                        type: 'error'
                    });
                }
            }).catch(error => {
                this.$toast(error.response.data.message, {
                    type: 'error'
                });
            })
        }
    },
    mounted() {
        this.getUserWallets()
        this.getWalletTypes();
    }
};
</script>
