<template>
    <div class="page-table scrollable">
        <h1>Wallet transactions</h1>
        <button
            @click="handleCreate()"
            class="btn btn-primary">
            Add Transaction
        </button>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Amount</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="transaction in walletTransactions" :class="transaction.css_class">
                <td>
                    {{ transaction.id }}
                </td>
                <td>
                    {{ transaction.amount }}
                </td>
                <td>
                    {{ transaction.status_text }}
                </td>
                <td>
                    {{ transaction.transaction_type }}
                </td>

                <td>
                    <button
                        class="btn .btn-sm btn-primary"
                        @click="handleEdit(transaction)">Edit
                    </button>
                    <button
                        class="btn .btn-sm btn-danger"
                        @click="handleDelete(transaction)">Delete
                    </button>
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    Total Blanace: $ {{ totalBalance }}
                </td>

            </tr>
            </tbody>
        </table>


        <el-dialog :title="action"
                   style="width:100%;z-index: 1900 !important;"
                   :visible.sync="transactionFormVisible" append-to-body>

            <el-form :model="walletTransaction">
                <el-form-item label="Name" :label-width="'120px'">
                    <el-input placeholder="name..." v-model="walletTransaction.description"
                              auto-complete="off"></el-input>
                </el-form-item>

                <el-form-item label="Wallet Type" :label-width="'120px'">
                    <el-select placeholder="select item" v-model="walletTransaction.transaction_type" clearable>
                        <el-option v-for="item in transactionTypes" :key="item.id" :label="item.name"
                                   :value="item.id"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="Amount" :label-width="'120px'">
                    <el-input placeholder="Amount" v-model="walletTransaction.amount" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="transactionFormVisible = false">Close</el-button>
                <el-button type="primary" @click="saveTransaction">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import {api} from "../../api";

export default {
    name: 'WalletTransaction',
    props: ['userWallet'],
    data() {
        return {
            walletTransactions: [],
            walletTransaction: {},
            transactionFormVisible: false,
            action: 'create',
            transactionTypes: [
                {id: 'credit', name: 'Credit'},
                {id: 'debit', name: 'Debit'},
            ]
        }
    },
    computed: {
        totalBalance() {
            let balance = 0.0;
            this.walletTransactions.map(item => {
                if (item.transaction_type === 'credit') {
                    balance += item.amount;
                }else {
                    balance -= item.amount;
                }
            });
            return  Number.parseFloat(balance).toFixed(2);
        }
    },
    watch: {
        userWallet(value) {
            this.userWallet = value;
            this.getTransactions();
        }
    },
    methods: {
        getTransactions() {
            if (this.userWallet.id !== undefined) {
                api.get('walletTransaction/' + this.userWallet.id).then(response => {
                    this.walletTransactions = response.data.data
                }).catch(error => {
                    this.$toast(error.response.data.message, {
                        type: 'error'
                    });
                })
            }
        },
        tableRowClassName(row) {
            if (row.transaction_type === 'credit') {
                return 'table-success';
            } else {
                return 'table-danger';
            }
        },
        handleCreate() {
            this.action = 'Create'
            this.walletTransaction = {}
            this.walletTransaction.user_wallet_id = this.userWallet.id
            this.transactionFormVisible = true;
        },
        handleEdit(transaction) {
            this.action = 'Edit'
            this.walletTransaction = _.clone(transaction)
            this.transactionFormVisible = true;
        },
        handleDelete(transaction) {
            api.delete('walletTransaction/' + transaction.id).then(response => {
                this.getTransactions()
                this.transactionFormVisible = false
            }).catch(error => {
                this.$toast(error.response.data.message, {
                    type: 'error'
                });
            })
        },
        saveTransaction() {
            api.post('walletTransaction', this.walletTransaction).then(response => {
                if (response.data.status === 'success') {
                    this.transactionFormVisible = false
                    this.$toast(response.data.message, {
                        type: 'success'
                    });
                    this.getTransactions()
                } else {
                    // success, error, default, info and warning
                    this.$toast(response.data.message, {
                        type: 'error'
                    });
                }
            }).catch(error => {
                this.$toast(error.response.data.message, {
                    type: 'error'
                });
            })
        }
    },
    mounted() {
        this.getTransactions()
    }
};
</script>


<style scoped>

body .v-modal {
    z-index: 1000 !important;
}
</style>
